<?xml version="1.0" encoding="UTF-8"?>
<VAST version="2.0">
    <Ad id="2000008161">
        <Wrapper>
            <AdSystem version="4.0">eClick</AdSystem>
            <AdTitle>XaxisT6_Preroll_10Jun</AdTitle>
            <Description>eClick External Pre-roll Video Ads</Description>
            <VASTAdTagURI><![CDATA[http://req.tidaltv.com/vmm.ashx?mt=1&pid=4732&xf=25&ap=0]]></VASTAdTagURI>
            <Impression id="eClick"><![CDATA[//log.eclick.vn/video/cpm/i?beacon=ziznzgznzhzmzizjzrzrzozizrzrzjzozhzmzhznzozkznzmzj2pzhzjzjzjzjzjzizlzqzi2pzhzjzjzjzjzjzrzizlzizozizkzizdzhzgzgzdzrzlzdzizgzozk1uznzg1vzg20zh1uzi1uzm21zgzmzh&placement=3&ev=150130&url=&bf=301]]></Impression>
            <Creatives>
                <Creative sequence="1" AdId="2000008161" id="2000008161">
                    <Linear>
                        <VideoClicks>
                            <ClickTracking id="ct-1"><![CDATA[//log.eclick.vn/video/cpm/c?beacon=ziznzgznzhzmzizjzrzrzozizrzrzjzozhzmzhznzozkznzmzj2pzhzjzjzjzjzjzizlzqzi2pzhzjzjzjzjzjzrzizlzizozizkzizdzhzgzgzdzrzlzdzizgzozk1uznzg1vzg20zh1uzi1uzm21zgzmzh&click_beacon=ziznzgznzhzmzizjzrzrzozizrzrzjzozhzjzjzjzjzjzrzizlzizozizkzizdzhzgzgzdzrzlzdzizgzozk1uznzg1vzg20zh1uzi1uzm21zgzmzh&placement=3&ev=150130&url=&bf=301]]></ClickTracking>
                        </VideoClicks>
                        <TrackingEvents>
                            <Tracking event="creativeView"><![CDATA[//log.eclick.vn/video/track?vtd=ziznzgznzhzmzizjzrzrzozizrzrzjzozhzjzjzjzjzjzrzizlzizozhzjzjzjzjzjzizlzqzizozhzmzhznzo1t2b201v2h242f203c24202ezozizkzizdzhzgzgzdzrzlzdzizgzozk1uznzg1vzg20zh1uzi1uzm21zgzmzh&placement=3&ev=130910&url=]]></Tracking>
                            <Tracking event="start"><![CDATA[//log.eclick.vn/video/track?vtd=ziznzgznzhzmzizjzrzrzozizrzrzjzozhzjzjzjzjzjzrzizlzizozhzjzjzjzjzjzizlzqzizozhzmzhznzo2a2h1v2b2hzozizkzizdzhzgzgzdzrzlzdzizgzozk1uznzg1vzg20zh1uzi1uzm21zgzmzh&placement=3&ev=130910&url=]]></Tracking>
                            <Tracking event="firstQuartile"><![CDATA[//log.eclick.vn/video/track?vtd=ziznzgznzhzmzizjzrzrzozizrzrzjzozhzjzjzjzjzjzrzizlzizozhzjzjzjzjzjzizlzqzizozhzmzhznzo1y242b2a2h392g1v2b2h242920zozizkzizdzhzgzgzdzrzlzdzizgzozk1uznzg1vzg20zh1uzi1uzm21zgzmzh&placement=3&ev=130910&url=]]></Tracking>
                            <Tracking event="midpoint"><![CDATA[//log.eclick.vn/video/track?vtd=ziznzgznzhzmzizjzrzrzozizrzrzjzozhzjzjzjzjzjzrzizlzizozhzjzjzjzjzjzizlzqzizozhzmzhznzo2824212d2624272hzozizkzizdzhzgzgzdzrzlzdzizgzozk1uznzg1vzg20zh1uzi1uzm21zgzmzh&placement=3&ev=130910&url=]]></Tracking>
                            <Tracking event="thirdQuartile"><![CDATA[//log.eclick.vn/video/track?vtd=ziznzgznzhzmzizjzrzrzozizrzrzjzozhzjzjzjzjzjzrzizlzizozhzjzjzjzjzjzizlzqzizozhzmzhznzo2h25242b21392g1v2b2h242920zozizkzizdzhzgzgzdzrzlzdzizgzozk1uznzg1vzg20zh1uzi1uzm21zgzmzh&placement=3&ev=130910&url=]]></Tracking>
                            <Tracking event="complete"><![CDATA[//log.eclick.vn/video/track?vtd=ziznzgznzhzmzizjzrzrzozizrzrzjzozhzjzjzjzjzjzrzizlzizozhzjzjzjzjzjzizlzqzizozhzmzhznzo1t26282d29202h20zozizkzizdzhzgzgzdzrzlzdzizgzozk1uznzg1vzg20zh1uzi1uzm21zgzmzh&placement=3&ev=130910&url=]]></Tracking>
                            <Tracking event="mute"><![CDATA[//log.eclick.vn/video/track?vtd=ziznzgznzhzmzizjzrzrzozizrzrzjzozhzjzjzjzjzjzrzizlzizozhzjzjzjzjzjzizlzqzizozhzmzhznzo282g2h20zozizkzizdzhzgzgzdzrzlzdzizgzozk1uznzg1vzg20zh1uzi1uzm21zgzmzh&placement=3&ev=130910&url=]]></Tracking>
                            <Tracking event="unmute"><![CDATA[//log.eclick.vn/video/track?vtd=ziznzgznzhzmzizjzrzrzozizrzrzjzozhzjzjzjzjzjzrzizlzizozhzjzjzjzjzjzizlzqzizozhzmzhznzo2g27282g2h20zozizkzizdzhzgzgzdzrzlzdzizgzozk1uznzg1vzg20zh1uzi1uzm21zgzmzh&placement=3&ev=130910&url=]]></Tracking>
                            <Tracking event="pause"><![CDATA[//log.eclick.vn/video/track?vtd=ziznzgznzhzmzizjzrzrzozizrzrzjzozhzjzjzjzjzjzrzizlzizozhzjzjzjzjzjzizlzqzizozhzmzhznzo2d1v2g2a20zozizkzizdzhzgzgzdzrzlzdzizgzozk1uznzg1vzg20zh1uzi1uzm21zgzmzh&placement=3&ev=130910&url=]]></Tracking>
                            <Tracking event="expand"><![CDATA[//log.eclick.vn/video/track?vtd=ziznzgznzhzmzizjzrzrzozizrzrzjzozhzjzjzjzjzjzrzizlzizozhzjzjzjzjzjzizlzqzizozhzmzhznzo202l2d1v2721zozizkzizdzhzgzgzdzrzlzdzizgzozk1uznzg1vzg20zh1uzi1uzm21zgzmzh&placement=3&ev=130910&url=]]></Tracking>
                            <Tracking event="collapse"><![CDATA[//log.eclick.vn/video/track?vtd=ziznzgznzhzmzizjzrzrzozizrzrzjzozhzjzjzjzjzjzrzizlzizozhzjzjzjzjzjzizlzqzizozhzmzhznzo1t2629291v2d2a20zozizkzizdzhzgzgzdzrzlzdzizgzozk1uznzg1vzg20zh1uzi1uzm21zgzmzh&placement=3&ev=130910&url=]]></Tracking>
                            <Tracking event="fullscreen"><![CDATA[//log.eclick.vn/video/track?vtd=ziznzgznzhzmzizjzrzrzozizrzrzjzozhzjzjzjzjzjzrzizlzizozhzjzjzjzjzjzizlzqzizozhzmzhznzo1y2g29292a1t2b202027zozizkzizdzhzgzgzdzrzlzdzizgzozk1uznzg1vzg20zh1uzi1uzm21zgzmzh&placement=3&ev=130910&url=]]></Tracking>
                            <Tracking event="rewind"><![CDATA[//log.eclick.vn/video/track?vtd=ziznzgznzhzmzizjzrzrzozizrzrzjzozhzjzjzjzjzjzrzizlzizozhzjzjzjzjzjzizlzqzizozhzmzhznzo2b202e242721zozizkzizdzhzgzgzdzrzlzdzizgzozk1uznzg1vzg20zh1uzi1uzm21zgzmzh&placement=3&ev=130910&url=]]></Tracking>
                            <Tracking event="resume"><![CDATA[//log.eclick.vn/video/track?vtd=ziznzgznzhzmzizjzrzrzozizrzrzjzozhzjzjzjzjzjzrzizlzizozhzjzjzjzjzjzizlzqzizozhzmzhznzo2b202a2g2820zozizkzizdzhzgzgzdzrzlzdzizgzozk1uznzg1vzg20zh1uzi1uzm21zgzmzh&placement=3&ev=130910&url=]]></Tracking>
                            <Tracking event="close"><![CDATA[//log.eclick.vn/video/track?vtd=ziznzgznzhzmzizjzrzrzozizrzrzjzozhzjzjzjzjzjzrzizlzizozhzjzjzjzjzjzizlzqzizozhzmzhznzo1t29262a20zozizkzizdzhzgzgzdzrzlzdzizgzozk1uznzg1vzg20zh1uzi1uzm21zgzmzh&placement=3&ev=130910&url=]]></Tracking>
                        </TrackingEvents>
                    </Linear>
                </Creative>
            </Creatives>
        </Wrapper>
    </Ad>
</VAST>