<?xml version="1.0" encoding="UTF-8"?>
<vmap:VMAP xmlns:vmap="http://www.iab.net/videosuite/vmap" version="1.0">
<vmap:AdBreak timeOffset="start" breakType="linear" breakId="preroll">
<vmap:AdSource id="1270101" allowMultipleAds="false" followRedirects="true">
<vmap:VASTAdData>
<VAST version="2.0">
<Ad id="1270101">
<Wrapper>
<AdSystem version="1.0">AdsPLAY</AdSystem>
<AdTitle>
<![CDATA[ FPTPlay_Testing SpotX_Web ]]>
</AdTitle>
<VASTAdTagURI>
<![CDATA[
https://search.spotxchange.com/vast/2.0/79391?VPAID=JS&content_page_url=https%3A%2F%2Fwifi.adsplay.net%2Fdemo%2Ffpt_play%2FDesktop%2F&player_width=800&player_height=500
]]>
</VASTAdTagURI>
<Error>
<![CDATA[
https://log.adsplay.net/track/videoads_v2?event=error&adId=1270101&placementId=102&campaignId=127&flightId=12701&contentId=5ad9b29a558320087e283b18&buyType=cpm&weightKey=w_1270101&uuid=546002fafef74d47b15da499f8ed638d&episode=1&t=_timestamp_&isFallbackAd=0&errorCode=[ERRORCODE]
]]>
</Error>
<Impression>
<![CDATA[
https://log.adsplay.net/track/videoads_v2?event=impression&adId=1270101&placementId=102&campaignId=127&flightId=12701&contentId=5ad9b29a558320087e283b18&buyType=cpm&weightKey=w_1270101&uuid=546002fafef74d47b15da499f8ed638d&episode=1&t=_timestamp_&isFallbackAd=0
]]>
</Impression>
<Creatives>
<Creative sequence="1" id="1270101">
<Linear>
<TrackingEvents>
<Tracking event="creativeView">
<![CDATA[
https://log.adsplay.net/track/videoads_v2?event=creativeView&adId=1270101&placementId=102&campaignId=127&flightId=12701&contentId=5ad9b29a558320087e283b18&buyType=cpm&weightKey=w_1270101&uuid=546002fafef74d47b15da499f8ed638d&episode=1&t=_timestamp_&isFallbackAd=0
]]>
</Tracking>
<Tracking event="start">
<![CDATA[
https://log.adsplay.net/track/videoads_v2?event=played0&adId=1270101&placementId=102&campaignId=127&flightId=12701&contentId=5ad9b29a558320087e283b18&buyType=cpm&weightKey=w_1270101&uuid=546002fafef74d47b15da499f8ed638d&episode=1&t=_timestamp_&isFallbackAd=0
]]>
</Tracking>
<Tracking event="firstQuartile">
<![CDATA[
https://log.adsplay.net/track/videoads_v2?event=played25&adId=1270101&placementId=102&campaignId=127&flightId=12701&contentId=5ad9b29a558320087e283b18&buyType=cpm&weightKey=w_1270101&uuid=546002fafef74d47b15da499f8ed638d&episode=1&t=_timestamp_&isFallbackAd=0
]]>
</Tracking>
<Tracking event="midpoint">
<![CDATA[
https://log.adsplay.net/track/videoads_v2?event=played50&adId=1270101&placementId=102&campaignId=127&flightId=12701&contentId=5ad9b29a558320087e283b18&buyType=cpm&weightKey=w_1270101&uuid=546002fafef74d47b15da499f8ed638d&episode=1&t=_timestamp_&isFallbackAd=0
]]>
</Tracking>
<Tracking event="thirdQuartile">
<![CDATA[
https://log.adsplay.net/track/videoads_v2?event=played75&adId=1270101&placementId=102&campaignId=127&flightId=12701&contentId=5ad9b29a558320087e283b18&buyType=cpm&weightKey=w_1270101&uuid=546002fafef74d47b15da499f8ed638d&episode=1&t=_timestamp_&isFallbackAd=0
]]>
</Tracking>
<Tracking event="complete">
<![CDATA[
https://log.adsplay.net/track/videoads_v2?event=played100&adId=1270101&placementId=102&campaignId=127&flightId=12701&contentId=5ad9b29a558320087e283b18&buyType=cpm&weightKey=w_1270101&uuid=546002fafef74d47b15da499f8ed638d&episode=1&t=_timestamp_&isFallbackAd=0
]]>
</Tracking>
<Tracking event="close">
<![CDATA[
https://log.adsplay.net/track/videoads_v2?event=close&adId=1270101&placementId=102&campaignId=127&flightId=12701&contentId=5ad9b29a558320087e283b18&buyType=cpm&weightKey=w_1270101&uuid=546002fafef74d47b15da499f8ed638d&episode=1&t=_timestamp_&isFallbackAd=0
]]>
</Tracking>
<Tracking event="pause">
<![CDATA[
https://log.adsplay.net/track/videoads_v2?event=paused&adId=1270101&placementId=102&campaignId=127&flightId=12701&contentId=5ad9b29a558320087e283b18&buyType=cpm&weightKey=w_1270101&uuid=546002fafef74d47b15da499f8ed638d&episode=1&t=_timestamp_&isFallbackAd=0
]]>
</Tracking>
<Tracking event="mute">
<![CDATA[
https://log.adsplay.net/track/videoads_v2?event=mute&adId=1270101&placementId=102&campaignId=127&flightId=12701&contentId=5ad9b29a558320087e283b18&buyType=cpm&weightKey=w_1270101&uuid=546002fafef74d47b15da499f8ed638d&episode=1&t=_timestamp_&isFallbackAd=0
]]>
</Tracking>
<Tracking event="unmute">
<![CDATA[
https://log.adsplay.net/track/videoads_v2?event=unmute&adId=1270101&placementId=102&campaignId=127&flightId=12701&contentId=5ad9b29a558320087e283b18&buyType=cpm&weightKey=w_1270101&uuid=546002fafef74d47b15da499f8ed638d&episode=1&t=_timestamp_&isFallbackAd=0
]]>
</Tracking>
<Tracking event="skip">
<![CDATA[
https://log.adsplay.net/track/videoads_v2?event=skip&adId=1270101&placementId=102&campaignId=127&flightId=12701&contentId=5ad9b29a558320087e283b18&buyType=cpm&weightKey=w_1270101&uuid=546002fafef74d47b15da499f8ed638d&episode=1&t=_timestamp_&isFallbackAd=0
]]>
</Tracking>
</TrackingEvents>
<VideoClicks>
<ClickThrough>
<![CDATA[ null ]]>
</ClickThrough>
<ClickTracking>
<![CDATA[
https://log.adsplay.net/track/videoads_v2?event=click&adId=1270101&placementId=102&campaignId=127&flightId=12701&contentId=5ad9b29a558320087e283b18&buyType=cpm&weightKey=w_1270101&uuid=546002fafef74d47b15da499f8ed638d&episode=1&t=_timestamp_&isFallbackAd=0
]]>
</ClickTracking>
</VideoClicks>
</Linear>
</Creative>
</Creatives>
</Wrapper>
</Ad>
</VAST>
</vmap:VASTAdData>
</vmap:AdSource>
</vmap:AdBreak>
</vmap:VMAP>