<?xml version="1.0" encoding="UTF-8"?>
<VAST version="2.0">
<Ad id="681301">
<Wrapper>
<AdSystem version="1.0">AdsPLAY</AdSystem>
<AdTitle>
<![CDATA[ SmartTV_HTML_Test_A_Nhan ]]>
</AdTitle>
			         	<VASTAdTagURI><![CDATA[{{vastAdTagURI}}]]></VASTAdTagURI>

<Error>
<![CDATA[
https://log7.adsplay.xyz/track/videoads_v2?evt=error&adid=681301&pid=202&cid=68&fid=6813&contentId=5ba3133a55832038915a49cd&buyType=cpm&weightKey=w_681301&uid=5878bc46da4f49bbbee67378a120d703&t=1545209842&errorCode=[ERRORCODE]
]]>
</Error>
<Impression>
<![CDATA[
https://log7.adsplay.xyz/track/videoads_v2?evt=impression&adid=681301&pid=202&cid=68&fid=6813&contentId=5ba3133a55832038915a49cd&buyType=cpm&weightKey=w_681301&uid=5878bc46da4f49bbbee67378a120d703&t=1545209842
]]>
</Impression>
<Creatives>
<Creative sequence="1" id="681301">
<Linear skipoffset="00:00:05" starttime="00:00:00">
<Duration>00:00:30</Duration>
<TrackingEvents>
<Tracking event="creativeView">
<![CDATA[
https://log7.adsplay.xyz/track/videoads_v2?evt=creativeView&adid=681301&pid=202&cid=68&fid=6813&contentId=5ba3133a55832038915a49cd&buyType=cpm&weightKey=w_681301&uid=5878bc46da4f49bbbee67378a120d703&t=1545209842
]]>
</Tracking>
<Tracking event="start">
<![CDATA[
https://log7.adsplay.xyz/track/videoads_v2?evt=played0&adid=681301&pid=202&cid=68&fid=6813&contentId=5ba3133a55832038915a49cd&buyType=cpm&weightKey=w_681301&uid=5878bc46da4f49bbbee67378a120d703&t=1545209842
]]>
</Tracking>
<Tracking event="firstQuartile">
<![CDATA[
https://log7.adsplay.xyz/track/videoads_v2?evt=played25&adid=681301&pid=202&cid=68&fid=6813&contentId=5ba3133a55832038915a49cd&buyType=cpm&weightKey=w_681301&uid=5878bc46da4f49bbbee67378a120d703&t=1545209842
]]>
</Tracking>
<Tracking event="midpoint">
<![CDATA[
https://log7.adsplay.xyz/track/videoads_v2?evt=played50&adid=681301&pid=202&cid=68&fid=6813&contentId=5ba3133a55832038915a49cd&buyType=cpm&weightKey=w_681301&uid=5878bc46da4f49bbbee67378a120d703&t=1545209842
]]>
</Tracking>
<Tracking event="thirdQuartile">
<![CDATA[
https://log7.adsplay.xyz/track/videoads_v2?evt=played75&adid=681301&pid=202&cid=68&fid=6813&contentId=5ba3133a55832038915a49cd&buyType=cpm&weightKey=w_681301&uid=5878bc46da4f49bbbee67378a120d703&t=1545209842
]]>
</Tracking>
<Tracking event="complete">
<![CDATA[
https://log7.adsplay.xyz/track/videoads_v2?evt=played100&adid=681301&pid=202&cid=68&fid=6813&contentId=5ba3133a55832038915a49cd&buyType=cpm&weightKey=w_681301&uid=5878bc46da4f49bbbee67378a120d703&t=1545209842
]]>
</Tracking>
<Tracking event="close">
<![CDATA[
https://log7.adsplay.xyz/track/videoads_v2?evt=close&adid=681301&pid=202&cid=68&fid=6813&contentId=5ba3133a55832038915a49cd&buyType=cpm&weightKey=w_681301&uid=5878bc46da4f49bbbee67378a120d703&t=1545209842
]]>
</Tracking>
<Tracking event="pause">
<![CDATA[
https://log7.adsplay.xyz/track/videoads_v2?evt=paused&adid=681301&pid=202&cid=68&fid=6813&contentId=5ba3133a55832038915a49cd&buyType=cpm&weightKey=w_681301&uid=5878bc46da4f49bbbee67378a120d703&t=1545209842
]]>
</Tracking>
<Tracking event="mute">
<![CDATA[
https://log7.adsplay.xyz/track/videoads_v2?evt=mute&adid=681301&pid=202&cid=68&fid=6813&contentId=5ba3133a55832038915a49cd&buyType=cpm&weightKey=w_681301&uid=5878bc46da4f49bbbee67378a120d703&t=1545209842
]]>
</Tracking>
<Tracking event="unmute">
<![CDATA[
https://log7.adsplay.xyz/track/videoads_v2?evt=unmute&adid=681301&pid=202&cid=68&fid=6813&contentId=5ba3133a55832038915a49cd&buyType=cpm&weightKey=w_681301&uid=5878bc46da4f49bbbee67378a120d703&t=1545209842
]]>
</Tracking>
<Tracking event="skip">
<![CDATA[
https://log7.adsplay.xyz/track/videoads_v2?evt=skip&adid=681301&pid=202&cid=68&fid=6813&contentId=5ba3133a55832038915a49cd&buyType=cpm&weightKey=w_681301&uid=5878bc46da4f49bbbee67378a120d703&t=1545209842
]]>
</Tracking>
</TrackingEvents>
<VideoClicks>
<ClickThrough>
<![CDATA[ null ]]>
</ClickThrough>
<ClickTracking>
<![CDATA[
https://log7.adsplay.xyz/track/videoads_v2?evt=click&adid=681301&pid=202&cid=68&fid=6813&contentId=5ba3133a55832038915a49cd&buyType=cpm&weightKey=w_681301&uid=5878bc46da4f49bbbee67378a120d703&t=1545209842
]]>
</ClickTracking>
</VideoClicks>
</Linear>
</Creative>
</Creatives>
</Wrapper>
</Ad>
</VAST>
